language: python
python:
  - "3.6"
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - source "$HOME/miniconda/etc/profile.d/conda.sh"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Replace dep1 dep2 ... with your dependencies
  - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
  - conda activate test-environment
  - conda install gdal
  - conda install "poppler<0.62"
  - pip install -r requirements.txt
  - pip install pytest
# command to run tests
script:
  - python setup.py install
  - pytest

jobs:
  include:
    - stage: coverage
      python: "3.6"
      install:
        - sudo apt-get update
        # We do this conditionally because it saves us some downloading if the
        # version is the same.
        - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
            wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
          else
            wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
          fi
        - bash miniconda.sh -b -p $HOME/miniconda
        - source "$HOME/miniconda/etc/profile.d/conda.sh"
        - hash -r
        - conda config --set always_yes yes --set changeps1 no
        - conda update -q conda
        # Useful for debugging any issues with conda
        - conda info -a

        # Replace dep1 dep2 ... with your dependencies
        - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION
        - conda activate test-environment
        - conda install gdal
        - pip install -r requirements.txt
        - pip install pytest pytest-cov coveralls
      script: pytest --cov-config=.coveragerc --cov=rivgraph/
      after_success:
        - coveralls
